

*{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
    min-height: 100%;
}
body{
    font-family: 'roboto', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
}
iframe {
    width: 100%;
    padding:10px;
    height: 1080px;
}
.header {
    position: fixed;
    width: 100%;
    z-index: 1;
    display: block;
}

.instagram-grad{
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    
}
.icon-instagram i{
    position: absolute;
    font-size: 2rem;
    margin: -15px 0 0 -20px;
    color: white;  
    
}
.header{
    text-align: center;
}
.nav li a:active,
.nav li a:focus,
.nav li a:hover {
    background: none!important;
}
.navbar {
    padding: 0;
    min-height: max-content;
}
.nav li{
    display: inline-block;
    height: 100%;
}
.recomendado {
    color: green;
    font-size: 1.8rem;
}

.fa-1x {
    font-size: 0.8rem !important;
}
.fa-circle-check {
    height: 100%;
    padding: 8px 0px 0px 5px !important;
    position: absolute; 
    color: #2a95e8 !important;  
}

.blue-dark {
    background-color:#090124;
}
.blue-dark-2{
    background-color: rgb(7, 8, 33);
}
section#mainpage {
    width: auto;
    
}
.bg-img img{
    width: 100%;
    height: 100%;
}
.links a,
.bg-img a,
.header a {
    text-decoration: none;  
    color: rgb(190, 234, 255);
}
.about-us {
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-size: 2rem;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
.links ul{
    list-style: none;
}
.links h1, 
.bg-img h1{
    text-align: center;   
}

.links li{
    padding: 20px;
    border-bottom: 2px solid white;
    font-size: 3.0rem;
    text-align: center;
    
}

.instagram_title_link{
    font-size: 3rem;
}
#footer {
    
    background-color: #18151a;
    padding: 10px;
    margin-top: auto;


}
#footer p{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin: 0;
    
}
#footer a {
    color: white;
}
#main {
    position: absolute;
    z-index: 2;
    display: contents;
    
}
#mainpage {
    padding: 50px 10px !important;
    min-height: 100%;
}
