

*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0 10px;
    background-color: rgb(7, 8, 33);
    font-family: 'roboto', sans-serif !important;
    
}

.blue-dark {
    background-color: rgb(7, 8, 33);
}
section#mainpage {
    width: auto;
}
.bg-img img{
    width: 100%;
    height: 100%;
}
.links a,
.bg-img a {
    text-decoration: none;  
    color: white;
}
.links ul{
    list-style: none;
}
.links h1, 
.bg-img h1{
    text-align: center;   
}

.links li{
    padding: 20px;
    border-bottom: 2px solid white;
    font-size: 3.0rem;
    text-align: center;
    
}
.bg-img i{
    font-size: 3rem;
    padding-right: 10px;
    color: white;
    
}
.bg-img p{
    position: relative;
    text-align: center;
}
.recomendado {
    color: green;
    font-size: 1.8rem;
}
.fa-1x {
    font-size: 1rem !important;
}
.fa-circle-check {
    height: 100%;
    padding: 18px 0px 0px 5px !important;
    position: absolute;   
}
.instagram_title_link{
    font-size: 3rem;
}
#footer p{
    text-align: center;
    color: white;
    padding: 15px 0;
    font-size: 1.5rem;
}
#footer a {
    color: white;
}