<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e65a66ab7e.js" crossorigin="anonymous"></script>
    <title>Cantinho Violão</title>
</head>
<body>
    <main>
        <section id="mainpage">
            <div class="container blue-dark">
                <div class="row">
                    <div class="col-6 bg-img">
                        
                        <img src="/static/img/logo-cantinho-violao.png" alt="Homem tocando violão em uma quarto escuro">
                        
                    </div>
                    <div class="col-6 links">
                        <p><i class="fa fa-instagram"></i></p>
                        
                        <h1><a href="#">@CantinhoViolão</a></h1>
                        <ul>
                            <li><a href="{{mv8s}}" target="_blank" rel="noopener noreferrer">Metodo Violão 8 Semanas</a></li>
                            <li><a href="{{fv}}" target="_blank" rel="noopener noreferrer">Formula Violão</a></li>
                            <li><a href="http://" target="_blank" rel="noopener noreferrer">Mini Curso Grátis</a></li>
                            <li><a href="http://" target="_blank" rel="noopener noreferrer">###</a></li>
                            <li><a href="http://" target="_blank" rel="noopener noreferrer">###</a></li>
                            <li><a href="{{whatsapp}}" target="_blank" rel="noopener noreferrer">WhatsApp</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <footer id="footer">
            <div class="container blue-dark">
                <p>Todos os direitos reservados a <a href="#">Cantinho Violão</a></p>
                
            </div>
        </footer>
    </main>
</body>
</html>