<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/img/favicon/site.webmanifest">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e65a66ab7e.js" crossorigin="anonymous"></script>
    <meta name="facebook-domain-verification" content="8rpgob3wia8x0ydhssdyejhi29txp9" />
    <title>Cantinho Violão</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8PMB90DHHH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-8PMB90DHHH');
    </script>
</head>
<body>
    <main>
        <section id="mainpage">
            <div class="container blue-dark">
                <div class="row">
                    <div class="col-6 bg-img">
                        
                        
                        <p><i class="fa fa-instagram"></i><a class="instagram_title_link" href="https://instagram.com/cantinhoviolao" target="blank">CantinhoViolão</a><i class="fa-solid fa-circle-check fa-1x"></i></p>
                        
                        <img src="/static/img/logo-cantinho-violao.png" alt="Homem tocando violão em uma quarto escuro">
                        
                    </div>
                    <div class="col-6 links">
                        
                        <ul>
                            <li><span class="recomendado"><i class="fa-solid fa-check"></i> Recomendado<br></span><a href="{{mv8s}}" target="_blank" rel="noopener noreferrer">Metodo Violão 8 Semanas</a></li>
                            <li><a href="{{fv}}" target="_blank" rel="noopener noreferrer">Formula Violão</a></li>
                            <li><a href="#" target="_blank" rel="noopener noreferrer">###</a></li>
                            <li><a href="#" target="_blank" rel="noopener noreferrer">###</a></li>
                            <li><a href="#" target="_blank" rel="noopener noreferrer">###</a></li>
                            <li><a href="{{whatsapp}}" target="_blank" rel="noopener noreferrer">WhatsApp</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <footer id="footer">
            <div class="container blue-dark">
                <p>Todos os direitos reservados a <a href="#">Cantinho Violão</a></p>
                
            </div>
        </footer>
    </main>
</body>
</html>